nav, p, h1, h2, h3, h4, h5, h6 {
    font-family: var(--font);
}
table {
    border-collapse: collapse;
}
th, td {
    padding: calc(var(--font-size) / 2);
}
th {
    background-color: var(--bright-black);
    color: var(--bright-white);
}
tr:nth-child(even) {
    background-color: #333;
}
