<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{{ .Title }} | {{ .Site.Title }}</title>
        {{ template "_internal/twitter_cards.html" . }}
        {{ template "_internal/opengraph.html" . }}
        <link href='{{"/css/common.css" | relURL}}' rel="stylesheet" media="all"/>
        {{ if .Params.Translation }}
        <link href='{{"/css/tables.css" | relURL}}' rel="stylesheet" media="all"/>
        {{- else -}}
        <link href='{{"/css/clean.css" | relURL }}' rel="stylesheet" media="all"/>
        {{- end }}{{ range .Site.Params.Fediverse }}
        <link rel="me" href="{{ . }}"/>{{ end }}
    </head>
    <body>
        <header>
            <nav>
                <ul>{{ range .Site.Menus.main }}
                    <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>{{ end }}
                </ul>
            </nav>
        </header>
        {{ block "main" . }} {{ end }}
        <hr/>
        <footer>
            <p>Copyright &copy; {{ now.Format "2006" }} Síle Ekaterin Liszka, under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0 International</a>.</p>
        </footer>
    </body>
</html>